@import '../../styles/setup';

.locationWrapper {

  main {
    position: relative;
    
    & > h2 {
      position: relative;
      z-index: -1;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 5rem;
        height: 1rem;
        display: block;
        top: 1rem;
        transform: skew();
      }

      &::before {
        transform: skew(29deg,10deg);
        top: -2rem;
        left: 6rem;
        z-index: -1;
        background: $color--12;
        box-shadow:
          $color--02 5.25rem 1.25rem 0 0,
          $color--03 5.25rem 0 0 0,
          $color--08 10.5rem 0 0 0,
          $color--06 15.75rem 0 0 0,
          $color--07 15.75rem 1.25rem 0 0,
          $color--10 10.5rem 1.25rem 0 0,
          $color--10 10.5rem -1.25rem 0 0,
          $color--12 15.75rem -2.5rem 0 0,
          $color--09 21rem -1.25rem 0 0,
          $color--03 21rem 0 0 0,
          $color--02 21rem -2.5rem 0 0,
          $color--04 26.25rem -2.5rem 0 0,
          $color--13 26.25rem -5rem 0 0,
          $color--09 15.75rem -5rem 0 0,
          $color--08 15.75rem 5rem 0 0,
          $color--07 31.5rem 5rem 0 0,
          $color--03 31.5rem 2.5rem 0 0,
          $color--05 31.5rem 1.25rem 0 0,
          $color--05 21rem 2.5rem 0 0,
          $color--06 26.25rem 2.5rem 0 0,
          $color--02 31.5rem 3.75rem 0 0,
          $color--04 31.5rem -3.75rem 0 0,
          $color--13 31.5rem -6.25rem 0 0,
          $color--08 36.75rem -6.25rem 0 0,
          $color--09 42rem -7.5rem 0 0,
          $color--03 42rem -2.5rem 0 0,
          $color--04 42rem -1.5rem 0 0;
      }
    }
  }

}

.navigation {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 3rem;

    li {
      width: 100%;
      height: 100%;
      background: $color--13;

      & > * {
        box-sizing: border-box;
        display: block;
        background: transparent;
        border: 0;
        width: 100%;
        height: 100%;
        line-height: 3rem;
        font-size: 1.75rem;
        text-align: center;
        padding: 0;
        font-weight: 300;
        font-family: sans-serif;
        cursor: pointer;

        &:active {
          background: rgba(#000000, .1);
        }
      }

      &:nth-child(2) {
        background: $color--12;
      }

      &:nth-child(3) {
        background: $color--11;
      }

      &:nth-child(4) {
        background: $color--10;
      }

      &:nth-child(5) {
        background: $color--09;
      }
    }
  }
}

.map {
  position: relative;
}

.mapArea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 1vh;

  &:hover {
    position: relative;
    z-index: 1;

    div {
      display: block;
      box-shadow: rem(5px) rem(5px);
    }

    a {
      box-shadow: none;
    }
  }

  div {
    display: none;
    position: absolute;
    top: -.25rem;
    left: -.25rem;
    background: $color--13;
    padding: 0 .25rem 0 130%;
    color: #000000;
    text-align: right;
  }

  a {
    border: 0;
    padding: 0;
    line-height: 1vw;
    font-weight: normal;
    font-size: 1vw;
    font-family: monospace;
    background: $color--13;
    position: relative;
    box-shadow: rem(5px) rem(5px);

    span {
      line-height: 1.25;
    }

    &:hover {

      & ~ div {
        display: block;
      }
    }
  }
}

.trap {
  border: rem(5px) solid rgba(red, .6);
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.flags {
  display: flex;
  font-size: 1.5rem;
}

.general {
  margin-top: 4rem;
  border: rem(2px) solid $color--13;
  padding: 1rem;

  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk";
    background: $color--13;
    padding: .5rem;
    box-shadow:
    inset 3rem 0 0 0 $color--01,
    inset 6rem 0 0 0 $color--02,
    inset 9rem 0 0 0 $color--03,
    inset 12rem 0 0 0 $color--04,
    inset 15rem 0 0 0 $color--05,
    inset 18rem 0 0 0 $color--06,
    inset 21rem 0 0 0 $color--07,
    inset 24rem 0 0 0 $color--08,
    inset 27rem 0 0 0 $color--09,
    inset 30rem 0 0 0 $color--10,
    inset 33rem 0 0 0 $color--11,
    inset 36rem 0 0 0 $color--12,
    inset 39rem 0 0 0 $color--13;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  a {
    display: inline-block;
    background: $color--13;
    padding: 0 .25rem;
    border-bottom-color: $color--08;
  }
}

.areaList {

  > li {
    position: relative;

    & > section {
      margin-top: 4rem;

      & > div {
        background: $color--13;
        color: #000000;
        padding: 1rem;
      }

      a {
        padding-bottom: 0;
        display: inline-block;
        font-weight: normal;
      }
    }
  }
  
  h4,
  h5 {
    font-family: "Space Grotesk";
  }

  h4 {
    font-size: 3rem;

    span {
      font-size: 1rem;
      font-family: "Space Grotesk";
      margin-right: 1rem;
    }
  }

  h5 {
    font-size: 2rem;
  }
}

.area {

  h1,h2,h3,h4,h5,h6 {

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  * + * {
    // margin-top: 1rem;
  }
}

.playerStats {
  position: sticky;
  bottom: -5.5rem;
  // bottom: 0;
  width: 100%;
  color: $color--01;
  background-color: $color--13;
  padding: .5rem;
  box-sizing: border-box;
  transition: all .25s ease;
  border: rem(2px) solid $color--08;

  h6 {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 1.25rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  li {
    display: flex;
  }

  p {
    margin: 0;

    &:last-child {
    //   background-color: $color--13;
    //   color: $color--01;
      padding: 0 0 0 1rem;
    }
  }

  &:hover {
    bottom: 0;
  }
}
