@mixin link {
  text-decoration: none;
  border-bottom: .2rem solid;
  color: #000000;
  font-weight: 700;
  font-family: "Space Grotesk";
  padding-bottom: 5px;
  display: block;
}

@mixin statblock {
  grid-row: 4/5;
  display: flex;
  flex-flow: row wrap;
  border: solid $color--13;
  border-width: rem(1px) 0 0;

  dt,dd {
    box-sizing: border-box;
    padding: .25rem .5rem;
    line-height: 1.5;
  }

  dt {
    flex-basis: 30%;
    background: $color--13;
    text-align: right;
    color: $color--01;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    border-bottom: rem(1px) solid $color--13;
  }
}

@mixin pseudo {
  position: relative;

    &::after {
      content: '';
      position: absolute;
    }
}
