$color--01: rgb(89, 7, 0);
$color--02: rgb(96, 21, 0);
$color--03: rgb(103, 37, 2);
$color--04: rgb(110, 55, 3);
$color--05: rgb(117, 74, 5);
$color--06: rgb(123, 94, 8);
$color--07: rgb(129, 115, 10);
$color--08: #86870D;
$color--09: rgb(151, 141, 39);
$color--10: rgb(167, 148, 65);
$color--11: rgb(182, 157, 92);
$color--12: rgb(196, 167, 120);
$color--13: rgb(210, 181, 148);

$box: rgba(0, 0, 0, 0.24) 0px 3px 8px;
