@import './setup';

.adventuresWrapper{

  main > h2 {
    position: relative;

    &::before,
    &::after {
      content: '';
    }

    &::before {
      width: 2rem;
      height: 2rem;
      background-color: $color--13;
      position: absolute;
      right: calc(50% - 1rem);
      top: -5rem;
      z-index: -1;
      border-radius: 50%;
      box-shadow: 0 0 0 0.75rem $color--12,
                  0 0 0 1.5rem $color--11,
                  0 0 0 2.25rem $color--10,
                  0 0 0 3rem $color--09,
                  0 0 0 3.75rem $color--08,
                  0 0 0 4.5rem $color--07,
                  0 0 0 5.25rem $color--06,
                  0 0 0 6rem $color--05,
                  0 0 0 6.75rem $color--04,
                  0 0 0 7.5rem $color--03,
                  0 0 0 8.25rem $color--02;
    }

    &::after {
      background: url(../images/wizard_cutout.svg) top left transparent no-repeat;
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: -4rem;
      left: calc(50% - 5rem);
      z-index: -1;
    }
  }
}

.adventureList {
  grid-column-end: 12;
  display: grid;
  grid-template: auto/ 50fr 50fr;
  grid-gap: 1rem;

  & > li + li {
  }
}

.adventureItem {
  position: relative;

  svg {
    width: 5rem;
    fill: $color--13;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  h1 {
    font-size: 4rem;
    background-color: $color--13;
    padding: 1rem;
    box-shadow: inset -6rem 0 0 $color--08,
                inset -12rem 0 0 $color--09,
                inset -18rem 0 0 $color--10,
                inset -24rem 0 0 $color--11,
                inset -30rem 0 0 $color--12;

    a {
      color: #000000;
      z-index: 1;
      position: relative;
    }
  }

   dl {
     display: flex;
     font-family: "Space Grotesk";
     padding: .5rem;
     border-bottom: 1px solid $color--13;
     color: $color--01;
     font-size: .8rem;
     background-color: $color--13;
     box-shadow: inset -3rem 0 0 $color--08,
                 inset -6rem 0 0 $color--09,
                 inset -9rem 0 0 $color--10,
                 inset -12rem 0 0 $color--11,
                 inset -15rem 0 0 $color--12;

     dt {
       font-weight: 700;
       margin-right: .5rem;
       
      &::after {
        content: ':';
      }
     }

     dd {
       font-style: italic;
     }

     dd + dt {
       margin-left: 1.5rem;
     }
   }

   .description {
     border-left: 1px solid;
     border-right: 1px solid;
     border-bottom: 1px solid;
     padding: 1rem;
   }

   .image {
     left: 0;
     top: -50%;
   }
}
