@import './setup';

.dmcm--adventure-icon {
  position: relative;

  &::before {
    position: absolute;
    right: 3.5rem;
    top: 2rem;
    color: $color--01;
    font-size: 5rem;
  }
}

.dmcm--anchor-link {
  visibility: hidden;
  line-height: 0;
  padding: 0;
  border: 0;
}
