@import './setup';

.bestiaryWrapper {

  main {

    & > h2 {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 8rem;
        height: 8rem;
        background: $color--01;
        display: block;
        border-radius: 50%;
        z-index: -1;
        top: -6rem;
        left: 5rem;
        box-shadow: .25rem 0 2rem $color--01,
                    5rem 2.5rem 0 $color--02,
                    5.25rem 2.5rem 2rem $color--01,
                    10rem 5rem 0 $color--03,
                    10.25rem 5rem 2rem $color--01,
                    15rem 2.5rem 0 $color--04,
                    15.25rem 2.5rem 2rem $color--01,
                    20rem 0 0 $color--05,
                    20.25rem 0 2rem $color--01,
                    25rem 2.5rem 0 $color--06,
                    25.25rem 2.5rem 2rem $color--01,
                    30rem 5rem 0 $color--07,
                    30.25rem 5rem 2rem $color--01,
                    35rem 2.5rem 0 $color--08,
                    35.25rem 2.5rem 2rem $color--01,
                    40rem 0 0 $color--09,
                    40.25rem 0 2rem $color--01,
                    45rem 2.5rem 0 $color--10,
                    45.25rem 2.5rem 2rem $color--01,
                    50rem 5rem 0 $color--11,
                    50.25rem 5rem 2rem $color--01,
                    55rem 2.5rem 0 $color--12,
                    55.25rem 2.5rem 2rem $color--01,
                    60rem 0 0 $color--13;
      }
    }
  }
}

.searchResults {
  @include searchResultList
}

.monster {
  @include searchResult;
  grid-template-columns: 20% 80%;

  header {
    grid-column: 1/3;
  }

  .abilities {
    grid-column: 1/2;
    grid-row: 2/4;
    border-right: rem(2px) solid $color--13;
  }

  .ability {

    & + .ability {
      margin-top: 1rem;
    }

    button {
      width: 100%;
      background: $color--08;
      font-family: "Space Grotesk";
      box-sizing: border-box;
      border: none;
      color: $color--01;
      cursor: pointer;
      padding: .25rem;
    }

    span {
      display: block;
    }

    .modifier {
      font-size: 1.2rem;
    }
  }

  .short,
  .long {
    grid-column: 2/3;
  }

  .short {
    grid-row: 2/3;
  }

  .long {
    grid-row: 3/4;

    h3,
    h4 {
      font-family: "Space Grotesk";
    }

    h4 {
      font-style: italic;
      margin: 1rem 0 .5rem;
    }

    h3 {
      font-size: 2rem;
    }

    div + div {
      margin-top: 2rem;
    }
  }
}
