@import './setup';

.refWrapper {

  main {

    & > h2 {
      position: relative;
      z-index: -1;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 5rem;
        height: 5rem;
        display: block;
        top: 0;
        transform: rotate(45deg);
      }

      &::before {
        left: 20rem;
        box-shadow: $color--02 1rem -1rem 0 rem(2px),
                    $color--03 2rem -3rem 0 rem(2px),
                    $color--04 3rem -5rem 0 rem(2px),
                    $color--05 4rem -3rem 0 rem(2px),
                    $color--06 5rem -5rem 0 rem(2px),
                    $color--07 6rem -6rem 0 rem(2px),
                    $color--08 7rem -9rem 0 rem(2px),
                    $color--09 8rem -8rem 0 rem(2px),
                    $color--10 9rem -2rem 0 rem(2px),
                    $color--11 10rem -5rem 0 rem(2px),
                    $color--12 11rem -11rem 0 rem(2px),
                    $color--13 12rem -12rem 0 rem(2px),
                    $color--12 13rem -16rem 0 rem(2px),
                    $color--11 14rem -14rem 0 rem(2px),
                    $color--10 15rem -19rem 0 rem(2px),
                    $color--09 16rem -6rem 0 rem(2px),
                    $color--08 17rem -17rem 0 rem(2px),
                    $color--07 18rem -25rem 0 rem(2px),
                    $color--06 19rem -14rem 0 rem(2px),
                    $color--05 20rem -8rem 0 rem(2px),
                    $color--04 21rem -1rem 0 rem(2px),
                    $color--03 22rem -22rem 0 rem(2px),
                    $color--02 23rem -23rem 0 rem(2px);
      }
    }

    h3 {
      font-family: "Space Grotesk";
      font-size: 2rem;
    }
  }
}

.toc {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;

  & > li {
    flex: 1;
    padding: 1rem;
    border-bottom: .5rem solid;
    border-top: .5rem solid;

    &:nth-child(1) {
      background: $color--10;
      border-bottom-color: $color--05;
      border-top-color: $color--09;
    }

    &:nth-child(2) {
      background: $color--09;
      border-bottom-color: $color--04;
      border-top-color: $color--10;
    }

    &:nth-child(3) {
      background: $color--08;
      border-bottom-color: $color--03;
      border-top-color: $color--11;
    }

    &:nth-child(4) {
      background: $color--07;
      border-bottom-color: $color--02;
      border-top-color: $color--12;
    }

    &:nth-child(5) {
      background: $color--06;
      border-bottom-color: $color--01;
      border-top-color: $color--13;
    }

    & + li {
      margin-left: 1rem;
    }

    ul {

      li + li {
        margin-top: .5rem;
      }
    }
  }

  h4 {
    color: $color--01;
    margin-bottom: 1rem;
  }
}

.categoryItems,
.articleTitle,
.definitionItems {
  list-style: decimal inside;
}

.categoryItem {
  display: block;
}

.categoryTitle,
.articleTitle,
.definitionTitle {
  background: $color--13;
  font-weight: 700;
  display: list-item;
  position: sticky;
  padding: .5rem;
  font-family: "Space Grotesk";
}

.categoryTitle {
  font-size: 2rem;
  top: 0;
  z-index: 2;

  a,
  &::marker {
    color: $color--01;
  }

  a {
    display: inline-block;
    border: none;
    padding: 0;
  }

  &::marker {
    content: counter(sections) '. ';
  }
}

.categoryItems,
.articleItems,
.definitionItems {
  counter-reset: sections;
}

.categoryItem,
.articleItem,
.definitionItem {
  counter-increment: sections;
}

.articleTitle,
.definitionTitle {
  color: $color--01;
  font-size: 1.5rem;
  border-top: rem(2px) solid $color--01;
  top: rem(48px);
  z-index: 1;

  &::marker {
    content: counters(sections, '.') ' ';
  }
}

.articleItem {
  position: relative;
}

.definitionItems {
  list-style-type: none !important;
  padding: 0 !important;
}

.definitionItem {

  .short,
  .cite {}

  .short {}

  .cite {
    margin: 0 0 1rem;
    padding-bottom: .5rem;
    border-bottom: rem(2px) solid $color--13;
    font-size: .75rem;
    font-style: italic;
  }
}

.definitionTitle {
  font-size: 1.25rem;
  top: rem(90px);
  z-index: 0;
}

.definitionContent {
  border: rem(2px) solid $color--13;
  border-top-width: 0;
  padding: .5rem;
}

// .categories {
//   counter-reset: sections;
//   list-style: decimal inside;
// }

// .category {
//   display: block;

//   article {
//     // counter-increment: subsections;
//     counter-reset: sections;
//     counter-increment: sections;

//     header {
//       list-style: decimal inside;

//       h1 {
//         display: list-item;

//         &::marker {
//           content: counters(sections, '.') ': ';
//         }
//       }
//     }
//   }
// }

// .categoryName {
//   display: list-item;
//   counter-increment: sections;

//   &::marker {
//     content: counter(sections) '. ';
//   }
// }






// .categories {
// }

// .category {
//   display: block;

//   article {

//     header {

//       h1 {
//         display: list-item;
//         list-style: decimal inside;

//         &::marker {
//           content: counters(list-item, ".") ":";
//         }
//       }
//     }
//   }
// }

// .categoryName {
//   list-style: decimal inside;
//   display: list-item;
//   background: $color--13;

//   &::marker {
//     content: counter(list-item) ". ";
//     color: $color--01;
//   }

//   a {
//     display: inline-block;
//     color: $color--01;
//     border: none;
//   }
// }





// .category {

//   & > h4 {
//     padding: .5rem;
//     background: $color--13;
//     font-family: "Space Grotesk";
//     font-size: 2rem;
//     position: sticky;
//     top: 0;
//     z-index: 2;

//     span {
//       font-size: 1rem;
//     }

//     a {
//       border: none;
//       color: $color--01;
//       padding: 0;
//     }
//   }

//   & > ul {
//     margin-top: 1rem;
//   }

//   .articleContainer {
//     border: rem(2px) solid $color--13;
//     border-top-width: 0;

//     & + .articleContainer {
//       margin-top: 2rem;
//     }
//   }

//   article {

//     header,
//     .term {
//       padding: 1rem .5rem;
//       position: sticky;
//     }

//     header {
//       background: $color--13;
//       color: $color--01;
//       top: rem(48px);
//       z-index: 1;
//     }

//     .definitions {
//       list-style-type: none;
//       padding-left: 0;
//     }

//     .term {
//       position: sticky;
//       top: rem(96px);
//       background: $color--01;
//       border-bottom: rem(2px) solid $color--13;
//     }
//   }
// }



// .category {
//   display: flex;

//   & > h4 {
//     padding: .5rem;
//     text-shadow: $color--01 .5rem .5rem;
//     font-family: "Space Grotesk";
//     width: 30%;
//     height: max-content;
//     font-size: 2rem;
//     position: sticky;
//     top: 0;
//     box-shadow:
//       inset 3rem 0 0 0 $color--06,
//       inset 6rem 0 0 0 $color--05,
//       inset 9rem 0 0 0 $color--04,
//       inset 12rem 0 0 0 $color--03,
//       inset 15rem 0 0 0 $color--02,
//       inset 18rem 0 0 0 $color--01;

//     span {
//       font-size: 1rem;
//     }

//     a {
//       border: none;
//       color: $color--13;
//     }
//   }

//   & > ul {
//     width: 70%;
//   }

//   article {

//     h1 {
//       background-color: $color--13;
//       color: $color--01;
//       font-family: "Space Grotesk";
//       padding: .25rem .5rem;
//       font-size: 1.5rem;
//       letter-spacing: 1vw;
//       line-height: 1.5;
//     }

//     .content {
//       border: rem(1px) solid $color--13;
//       padding: calc(.5rem - 1px);
//       overflow: hidden;

//       & > *:not(:first-child) {
//         margin-top: 1rem;
//       }
//     }
//   }

//   & + .category {
//     margin-top: 2rem;
//   }
// }

// .articleContainer {

//   &.closed {
//     .content {
//       // max-height: 0;
//     }
//   }

//   & + .articleContainer {
//     margin-top: 2rem;
//   }

//   table {
//     width: 100%;
//   }
// }

// .definitions {
//   padding-left: 0 !important;
// }

// .definition {
//   list-style-type: none;

//   &:not(:first-child) {
//     margin-top: 2rem;
//   }

//   .header {
//     margin-bottom: 1rem;

//     p {
//       margin-top: 0;
//     }
//   }
// }


// .term {
//   font-family: "Space Grotesk";
//   font-size: 1.25rem;
//   font-weight: 700;
//   border-bottom: rem(2px) solid;
// }

// .short {
//   font-style: italic;
//   font-weight: 300;
// }

// .cite {
//   font-size: .75rem;
// }
