@import './setup';

.spellsWrapper {

  & > h2 {
    position: relative;
  }
}

.spell {

  h2,h3,
  .stats,
  .content,
  .source {
    grid-column: 1/3;
  }

  h2, h3 {
    font-family: "Space Grotesk";
    grid-row: 2/3;
    padding: 0 .5rem;
    font-style: italic;
  }

  h3 {
    grid-row: 3/4;
    margin: 1rem 0;
    line-height: 1.5;
  }

  .stats {
    @include statblock;
  }

  .content {
    grid-row: 5/6;
    padding: .5rem;
  }

  .source {
    font-style: italic;
    font-family: "Space Grotesk";
    font-size: .8rem;
    padding: 0 .5rem;
  }
}
