@import '../../styles/reset.scss';
@import '../../styles/setup';

body {
  background-color: $color--01;
}

main {
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  color: $color--13;
  font-family: "IBM Plex Sans";

  & > * {
    grid-column: 2/12;
  }

  a {
    @include link;
  }

  p {
    line-height: 1.5;

    & + p {
      margin-top: 1rem;
    }
  }

  & > h2 {
    margin-bottom: 2rem;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
  }
}

.dataFloater {
  position: sticky;
  top: 0;
  z-index: 3;
}

.diceTable,
.attackTable,
.simpleTable {
  display: none;
  height: 3rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
  }

  li {
    padding: 1rem;
    background: $color--07;
    color: #000000;
  }

  .tableTitle {
    background: $color--08;
  }

  .tableCrit {
    background: $color--13;
  }
}

.diceTable {

  li {

    &.diceFormula {
      background-color: $color--08;
    }

    &:last-child {
      background: $color--06;
    }
  }
}

.attackTable {
  // top: 3rem;
}

.pageTitle {
  grid-column-end: 12;
  color: $color--13;
  font-size: 5rem;  
  font-weight: 700;
}

footer {
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  margin-top: 1rem;

  p {
    color: $color--13;
    font-family: "Space Grotesk";
    grid-column: 2/12;
  }
}
