@import '../../styles/reset.scss';
@import '../../styles/setup';

body {
  background-color: $color--01;
}

main {
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  color: $color--13;
  font-family: "IBM Plex Sans";

  & > * {
    grid-column: 2/12;
  }

  a {
    @include link;
  }

  p {
    line-height: 1.5;

    & + p {
      margin-top: 1rem;
    }
  }

  & > h2 {
    margin-bottom: 2rem;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
  }

  form {
    background: $color--13;
    padding: 1rem;
    color: #000000;

    label {
      font-size: 2rem;
    }

    input {

      &[type=text] {
        border: 0;
        background: transparent;
        border-bottom: .2rem solid #000000;
        width: 100%;
        font-size: 1.25rem;
        margin-bottom: 1rem;

        &:focus {
          outline: none;
        }
      }

      &[type=submit] {
        background: $color--13;
        border: rem(2px) solid #000000;
        font-family: "Space Grotesk";
        font-size: 1.5rem;
      }
    }

    // .results
    ~ div {
      display: grid;
      grid-gap: 1rem;
      grid-template: auto/repeat(2, 1fr);
      align-items: start;
      margin-top: 4rem;

      article {
        border: rem(2px) solid $color--13;
        display: grid;

        h1 {
          grid-column: 1/3;
          grid-row: 1/2;
          font-size: 5rem; 
          font-family: "Space Grotesk";
          word-break: break-all;
        }
      }
    }
  }
}

.diceTable,
.attackTable {
  display: none;
  z-index: 1;
  position: sticky;
  height: 3rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
  }

  li {
    padding: 1rem;
    background: $color--07;
    color: #000000;
  }
}

.diceTable {
  top: 0;

  li {

    &.diceFormula {
      background-color: $color--08;
    }

    &:last-child {
      background: $color--06;
    }
  }
}

.attackTable {
  top: 3rem;


}

.pageTitle {
  grid-column-end: 12;
  color: $color--13;
  font-size: 5rem;  
  font-weight: 700;
}

footer {
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  margin-top: 1rem;

  p {
    color: $color--13;
    font-family: "Space Grotesk";
    grid-column: 2/12;
  }
}
