@import '../../styles/setup';

.adventureWrapper {

  main {

    & > * {
      grid-column-end: 12;
    }

    > h2 {
      padding-right: 10rem;
      position: relative;
      min-height: rem(160px);

      &::before,
      &::after {
        width: 0;
        height: 0;
        content: '▲';
        position: absolute;
      }

      &::before {
        top: rem(72px);
        right: 6rem;
        color: $color--11;
        z-index: -1;
        box-shadow: 0 0 0 0.75rem $color--12,
                    0 0 0 1.5rem $color--11,
                    0 0 0 2.25rem $color--10,
                    0 0 0 3rem $color--09,
                    0 0 0 3.75rem $color--08,
                    0 0 0 4.5rem $color--07,
                    0 0 0 5.25rem $color--06,
                    0 0 0 6rem $color--05,
                    0 0 0 6.75rem $color--04,
                    0 0 0 7.5rem $color--03,
                    0 0 0 8.25rem $color--02;
      }

      &::after {
        top: 3.75rem;
        right: 12rem;
        font-size: 8rem;
        color: $color--12;
        z-index: -1;
      }
    }
  }
}

.container {

  h3 {
    background-color: $color--08;
    color: $color--01;
    padding: 1rem;
    box-shadow: inset -2rem 0 0 $color--13,
                inset -4rem 0 0 $color--12,
                inset -6rem 0 0 $color--11,
                inset -8rem 0 0 $color--10,
                inset -10rem 0 0 $color--09;
  }
}

.details {
  margin: 2rem 0 4rem;
  border: rem(1px) solid $color--13;

  > div {
    padding: 1rem;
  }

  dl {
    color: $color--01;
    background-color: $color--13;
    font-family: "Space Grotesk";
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    dt {

      &::after {
        content: ':';
      }
    }
  }
}

.links {
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, 1fr);
  grid-gap: 1rem;

  section:nth-child(1) {
    grid-row: 1/2;
  }

  section {

    &:nth-child(1) {
      grid-row: 1/3;
      grid-column: 2/3;
    }

    &:nth-child(2) {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &:nth-child(3) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }

  ul {
    background-color: $color--13;
    padding: 1rem;
  }

  li + li {
    margin-top: 1rem
  }
}

.npcs {
  margin-top: 4rem;

  thead {
    background: $color--08;

    tr {
      border-right: rem(1px) solid $color--08;
    }

    th {
      text-align: left;
      padding: .5rem;
      text-transform: capitalize;
      font-family: "Space Grotesk";
    }
  }

  tbody {
    border: rem(1px) solid $color--13;
    border-top-width: 0;

    .notes {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease-in-out;
    }

    tr {

      &:nth-child(4n+1) {
        background: $color--13;
        color: $color--01;
      }

      &:nth-child(odd) {

        td {
          padding: .5rem 0 .5rem .5rem;
        }
      }
    }

    td {
      font-size: .8rem;
    } 
  }
}
