@import '../../styles/setup';

.bar {
  background-color: $color--08;
  font-family: "Space Grotesk";
  height: rem(60px);
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  position: relative;
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  grid-column: 2/3;
  position: absolute;

  a {
    background: $color--13;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: .5rem;
    line-height: 1.55;
    color: #000000;
    font-weight: 700;
    &::before {
      font-size: 2.5rem;
    }
  }
  
}

.header {
  margin-bottom: 5rem;
  position: relative;

  nav {
    grid-column: 6/12;
  
    ul {
      display: flex;
      justify-content: space-between;
      height: 100%;

      a {
        padding-top: rem(20px);
        @include link;
      }
    }
  }
}
